.container {
    color: black;
    width: 90%;
    margin: 2rem auto;
    padding-left: 2rem;
}

.itemImage {
    width: max-content;
    border: black 1px solid;
    height: min-content;
}

.productTitle {
    font-size: 1.5rem;
}

.rating {
    margin: 2em auto;
}

.description {
    margin-top: 1em;
    color: rgb(48, 48, 48);
    font-family: Arial;
}

.price {
    margin-top: 1em;
    font-size: 2rem;
}

.addTo {
    display: flex;
    align-items: center;
    gap: 1.7em;
    margin-top: 2em;
    font-size: 1.5rem;
}

.addToCart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25em;
    width: 200px;
    background-color: rgb(202, 7, 7);
    padding: 0.5em 1em;
    border-radius: 0.5em;
    color: white;
}

.addToCart:hover {
    background-color: rgb(224, 6, 6);
}

.addToCartButtons {
    border: 2px solid transparent;
    background-color: rgb(223, 96, 58);
    display: flex;
    justify-content: center; 
    align-items: center;
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    margin: 0;
}

.addToFav {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid rgb(207, 77, 2);
    color: red;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.addToFav:hover {
    background: rgb(235, 235, 235);
}


.shippingPolicy {
    width: 80%;
}
